<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Seller\Api\AddressRepositoryInterface" type="Magento\Seller\Model\ResourceModel\AddressRepository" />
    <preference for="Magento\Seller\Api\SellerRepositoryInterface" type="Magento\Seller\Model\ResourceModel\SellerRepository" />
    <preference for="Magento\Seller\Api\GroupManagementInterface" type="Magento\Seller\Model\GroupManagement" />
    <preference for="Magento\Seller\Api\SellerGroupConfigInterface" type="Magento\Seller\Model\SellerGroupConfig" />
    <preference for="Magento\Seller\Api\GroupRepositoryInterface" type="Magento\Seller\Model\ResourceModel\GroupRepository" />
    <preference for="Magento\Seller\Api\Data\SellerInterface" type="Magento\Seller\Model\Data\Seller" />
    <preference for="Magento\Seller\Api\Data\AddressInterface" type="Magento\Seller\Model\Data\Address" />
    <preference for="Magento\Seller\Api\Data\RegionInterface" type="Magento\Seller\Model\Data\Region" />
    <preference for="Magento\Seller\Api\Data\AttributeMetadataInterface" type="Magento\Seller\Model\Data\AttributeMetadata" />
    <preference for="Magento\Seller\Api\Data\GroupInterface" type="Magento\Seller\Model\Data\Group" />
    <preference for="Magento\Seller\Api\Data\GroupExcludedWebsiteInterface" type="Magento\Seller\Model\Data\GroupExcludedWebsite" />
    <preference for="Magento\Seller\Api\Data\OptionInterface" type="Magento\Seller\Model\Data\Option" />
    <preference for="Magento\Seller\Api\Data\ValidationRuleInterface" type="Magento\Seller\Model\Data\ValidationRule" />
    <preference for="Magento\Seller\Api\Data\ValidationResultsInterface" type="Magento\Seller\Model\Data\ValidationResults" />
    <preference for="Magento\Seller\Api\Data\GroupSearchResultsInterface" type="Magento\Seller\Model\GroupSearchResults" />
    <preference for="Magento\Seller\Api\Data\SellerSearchResultsInterface" type="Magento\Seller\Model\SellerSearchResults" />
    <preference for="Magento\Seller\Api\Data\AddressSearchResultsInterface" type="Magento\Seller\Model\AddressSearchResults" />
    <preference for="Magento\Seller\Api\AccountManagementInterface" type="Magento\Seller\Model\AccountManagement" />
    <preference for="Magento\Seller\Api\SellerMetadataInterface" type="Magento\Seller\Model\Metadata\SellerCachedMetadata" />
    <preference for="Magento\Seller\Api\AddressMetadataInterface" type="Magento\Seller\Model\Metadata\AddressCachedMetadata" />
    <preference for="Magento\Seller\Api\SellerMetadataManagementInterface" type="Magento\Seller\Model\Metadata\SellerMetadataManagement" />
    <preference for="Magento\Seller\Api\AddressMetadataManagementInterface" type="Magento\Seller\Model\Metadata\AddressMetadataManagement" />
    <preference for="Magento\Seller\Api\SellerManagementInterface" type="Magento\Seller\Model\SellerManagement" />
    <preference for="Magento\Seller\Model\AuthenticationInterface" type="Magento\Seller\Model\Authentication" />
    <preference for="Magento\Seller\Model\EmailNotificationInterface" type="Magento\Seller\Model\EmailNotification" />
    <preference for="Magento\Seller\Api\SellerNameGenerationInterface" type="Magento\Seller\Helper\View" />
    <preference for="Magento\Seller\Model\Address\CustomAttributeListInterface" type="Magento\Seller\Model\Address\CustomAttributeList" />
    <preference for="Magento\Seller\Model\Seller\Source\GroupSourceInterface" type="Magento\Seller\Model\Seller\Source\Group" />
    <preference for="Magento\Seller\Model\Seller\Attribute\Source\GroupSourceLoggedInOnlyInterface" type="Magento\Seller\Model\Seller\Attribute\Source\Group" />
    <preference for="Magento\Seller\Block\Account\SortLinkInterface" type="Magento\Seller\Block\Account\SortLink" />
    <preference for="Magento\Seller\Model\Group\RetrieverInterface" type="Magento\Seller\Model\Group\Retriever" />
    <preference for="Magento\Seller\Api\SessionCleanerInterface" type="Magento\Seller\Model\Session\SessionCleaner" />
    <preference for="Magento\Seller\Api\GroupExcludedWebsiteRepositoryInterface" type="Magento\Seller\Model\ResourceModel\GroupExcludedWebsiteRepository" />
    <type name="Magento\Seller\Model\Session">
        <arguments>
            <argument name="configShare" xsi:type="object">Magento\Seller\Model\Config\Share\Proxy</argument>
            <argument name="sellerUrl" xsi:type="object">Magento\Seller\Model\Url\Proxy</argument>
            <argument name="sellerResource" xsi:type="object">Magento\Seller\Model\ResourceModel\Seller\Proxy</argument>
            <argument name="storage" xsi:type="object">Magento\Seller\Model\Session\Storage</argument>
            <argument name="sellerRepository" xsi:type="object">Magento\Seller\Api\SellerRepositoryInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Helper\Address">
        <arguments>
            <argument name="addressConfig" xsi:type="object">Magento\Seller\Model\Address\Config\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Http\Context">
        <arguments>
            <argument name="default" xsi:type="array">
                <item name="seller_group" xsi:type="const">Magento\Seller\Api\Data\GroupInterface::NOT_LOGGED_IN_ID</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Config\Share">
        <arguments>
            <argument name="sellerResource" xsi:type="object">Magento\Seller\Model\ResourceModel\Seller\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="seller" xsi:type="string">Magento\Seller\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\ActionValidator\RemoveAction">
        <arguments>
            <argument name="protectedModels" xsi:type="array">
                <item name="seller" xsi:type="string">Magento\Seller\Model\Seller</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Address">
        <arguments>
            <argument name="sellerRepository" xsi:type="object">Magento\Seller\Api\SellerRepositoryInterface\Proxy</argument>
            <argument name="entitySnapshot" xsi:type="object">SellerAddressSnapshot</argument>
            <argument name="entityRelationComposite" xsi:type="object">SellerAddressRelationsComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Address\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Seller\Model\Address\Config\Reader\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Visitor">
        <arguments>
            <argument name="ignoredUserAgents" xsi:type="array">
                <item name="google1" xsi:type="string">Googlebot/1.0 (googlebot@googlebot.com http://googlebot.com/)</item>
                <item name="google2" xsi:type="string">Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)</item>
                <item name="google3" xsi:type="string">Googlebot/2.1 (+http://www.googlebot.com/bot.html)</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Group" shared="false">
        <arguments>
            <argument name="groupManagement" xsi:type="object">Magento\Seller\Api\GroupManagementInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Metadata\SellerMetadata">
        <arguments>
            <argument name="systemAttributes" xsi:type="array">
                <item name="disable_auto_group_change" xsi:type="string">disable_auto_group_change</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SectionInvalidationConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/action" xsi:type="string">name</item>
                <item name="/config/action/section" xsi:type="string">name</item>
            </argument>
            <argument name="fileName" xsi:type="string">sections.xml</argument>
            <argument name="converter" xsi:type="object">\Magento\Seller\SellerData\SectionConfigConverter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Seller\SellerData\SchemaLocator</argument>
            <argument name="defaultScope" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="SectionInvalidationConfigData" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">SectionInvalidationConfigReader</argument>
            <argument name="cacheId" xsi:type="string">sections_invalidation_config</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Seller\Block\SectionConfig">
        <arguments>
            <argument name="sectionConfig" xsi:type="object">SectionInvalidationConfigData</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Block\SectionNamesProvider">
        <arguments>
            <argument name="sectionConfig" xsi:type="object">SectionInvalidationConfigData</argument>
        </arguments>
    </type>
    <preference for="Magento\Seller\SellerData\JsLayoutDataProviderPoolInterface" type="Magento\Seller\SellerData\JsLayoutDataProviderPool" />
    <type name="Magento\Framework\Webapi\ServiceTypeToEntityTypeMap">
        <arguments>
            <argument name="serviceTypeToEntityTypeMap" xsi:type="array">
                <item name="Magento\Seller\Api\Data\SellerInterface" xsi:type="const">Magento\Seller\Api\SellerMetadataInterface::ENTITY_TYPE_SELLER</item>
                <item name="Magento\Seller\Api\Data\AddressInterface" xsi:type="const">Magento\Seller\Api\AddressMetadataInterface::ENTITY_TYPE_ADDRESS</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\TypeLocator\ComplexType">
        <arguments>
            <argument name="backendModelToAttributeTypeMap" xsi:type="array">
                <item name="Magento\Seller\Api\Data\SellerInterface" xsi:type="array">
                    <item name="Magento\Eav\Model\Attribute\Data\Image" xsi:type="string">Magento\Framework\Api\Data\ImageContentInterface</item>
                </item>
                <item name="Magento\Seller\Model\Seller\Attribute\Backend\Website" xsi:type="string">int</item>
                <item name="Magento\Seller\Model\Seller\Attribute\Backend\Store" xsi:type="string">int</item>
                <item name="Magento\Seller\Model\Attribute\Backend\Data\Boolean" xsi:type="string">boolean</item>
                <item name="Magento\Seller\Model\Seller\Attribute\Backend\Password" xsi:type="string">string</item>
                <item name="Magento\Seller\Model\Seller\Attribute\Backend\Billing" xsi:type="string">Magento\Seller\Api\Data\AddressInterface</item>
                <item name="Magento\Seller\Model\Seller\Attribute\Backend\Shipping" xsi:type="string">Magento\Seller\Api\Data\AddressInterface</item>
                <item name="Magento\Eav\Model\Entity\Attribute\Backend\Datetime" xsi:type="string">string</item>
                <item name="Magento\Seller\Model\ResourceModel\Address\Attribute\Backend\Region" xsi:type="string">Magento\Seller\Api\Data\RegionInterface</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EavVersionControlSnapshot" type="Magento\Framework\Model\ResourceModel\Db\VersionControl\Snapshot">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Eav\Model\Entity\VersionControl\Metadata</argument>
        </arguments>
    </virtualType>
    <virtualType name="SellerAddressSnapshot" type="Magento\Seller\Model\ResourceModel\Db\VersionControl\AddressSnapshot">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Eav\Model\Entity\VersionControl\Metadata</argument>
        </arguments>
    </virtualType>
    <virtualType name="SellerRelationsComposite" type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Seller\Model\ResourceModel\Seller\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SellerAddressRelationsComposite" type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Seller\Model\ResourceModel\Address\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Seller\Model\ResourceModel\Seller">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
            <argument name="entityRelationComposite" xsi:type="object">SellerRelationsComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Seller\Collection">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Address\Collection">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="seller_listing_data_source" xsi:type="string">Magento\Seller\Model\ResourceModel\Grid\Collection</item>
                <item name="seller_online_grid_data_source" xsi:type="string">Magento\Seller\Model\ResourceModel\Online\Grid\Collection</item>
                <item name="seller_group_listing_data_source" xsi:type="string">Magento\Seller\Model\ResourceModel\Group\Grid\Collection</item>
                <item name="seller_address_listing_data_source" xsi:type="string">Magento\Seller\Model\ResourceModel\Address\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SellerNameHandler" type="Magento\Framework\Indexer\Handler\ConcatHandler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">SellerNameExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShippingAddressHandler" type="Magento\Framework\Indexer\Handler\ConcatHandler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">ShippingAddressExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="BillingAddressHandler" type="Magento\Framework\Indexer\Handler\ConcatHandler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">BillingAddressExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="SellerNameExpression" type="Magento\Framework\DB\Sql\ConcatExpression">
        <arguments>
            <argument name="tableName" xsi:type="string">e</argument>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">prefix</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">firstname</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">middlename</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">lastname</item>
                </item>
                <item name="suffix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">suffix</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ShippingAddressExpression" type="Magento\Framework\DB\Sql\ConcatExpression">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">street</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">city</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">region</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">postcode</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BillingAddressExpression" type="Magento\Framework\DB\Sql\ConcatExpression">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">street</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">city</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">region</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">postcode</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Seller\Model\Indexer\AttributeProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Seller\Model\ResourceModel\Attribute\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Indexer\Address\AttributeProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Seller\Model\ResourceModel\Address\Attribute\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Online\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">seller_visitor</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Seller\Model\ResourceModel\Visitor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="upgradeHashAlgorithmCommand" xsi:type="object">Magento\Seller\Console\Command\UpgradeHashAlgorithmCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Api\SellerRepositoryInterface">
        <plugin name="transactionWrapper" type="Magento\Seller\Model\Plugin\SellerRepository\TransactionWrapper" sortOrder="-1" />
    </type>
    <type name="Magento\Directory\Model\AllowedCountries">
        <plugin name="sellerAllowedCountries" type="Magento\Seller\Model\Plugin\AllowedCountries" />
    </type>
    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="sellerNotification" type="Magento\Seller\Model\Plugin\SellerNotification" />
    </type>
    <type name="Magento\Seller\Model\Authorization\SellerSessionUserContext">
        <arguments>
            <argument name="sellerSession" xsi:type="object">Magento\Seller\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\PageCache\Observer\FlushFormKey">
        <plugin name="sellerFlushFormKey" type="Magento\Seller\Model\Plugin\SellerFlushFormKey" />
    </type>
    <type name="Magento\Seller\Model\Seller\NotificationStorage">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Seller\Model\Cache\Type\Notification</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\SellerRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <!-- @api -->
    <virtualType name="Magento\Seller\Model\Api\SearchCriteria\CollectionProcessor\GroupFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="code" xsi:type="string">main_table.seller_group_code</item>
                <item name="id" xsi:type="string">main_table.seller_group_id</item>
                <item name="tax_class_name" xsi:type="string">tax_class_table.class_name</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- @api -->
    <virtualType name="Magento\Seller\Model\Api\SearchCriteria\CollectionProcessor\GroupSortingProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="code" xsi:type="string">main_table.seller_group_code</item>
                <item name="id" xsi:type="string">main_table.seller_group_id</item>
                <item name="tax_class_name" xsi:type="string">tax_class_table.class_name</item>
            </argument>
            <argument name="defaultOrders" xsi:type="array">
                <item name="id" xsi:type="string">ASC</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- @api -->
    <virtualType name="Magento\Seller\Model\Api\SearchCriteria\GroupCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Seller\Model\Api\SearchCriteria\CollectionProcessor\GroupFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Seller\Model\Api\SearchCriteria\CollectionProcessor\GroupSortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Seller\Model\ResourceModel\GroupRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Seller\Model\Api\SearchCriteria\GroupCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\AddressRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Attribute">
        <arguments>
            <argument name="attributeMetadataCache" xsi:type="object">Magento\Seller\Model\Metadata\AttributeMetadataCache\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Magento\Seller\Api\Data\SellerInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">seller_entity</item>
                    <item name="eavEntityType" xsi:type="string">seller</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Ui\Component\MassAction\Group\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">seller/index/massAssignGroup</item>
                <item name="paramName" xsi:type="string">group</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Assign a Seller Group</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure to assign selected sellers to new group?</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\AccountManagement">
        <arguments>
            <argument name="sessionManager" xsi:type="object">Magento\Framework\Session\SessionManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\Address\CompositeValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="general" xsi:type="object">Magento\Seller\Model\Address\Validator\General</item>
                <item name="country" xsi:type="object">Magento\Seller\Model\Address\Validator\Country</item>
                <item name="seller" xsi:type="object">Magento\Seller\Model\Address\Validator\Seller</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Group\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">seller_group</argument>
            <argument name="eventPrefix" xsi:type="string">seller_group_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">seller_group_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Seller\Model\ResourceModel\Group</argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Model\ResourceModel\Address\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">seller_address_entity</argument>
            <argument name="eventPrefix" xsi:type="string">seller_address_entity_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">seller_address_entity_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Seller\Model\ResourceModel\Address</argument>
        </arguments>
    </type>
    <type name="Magento\Webapi\Controller\Rest\ParamsOverrider">
        <arguments>
            <argument name="paramOverriders" xsi:type="array">
                <item name="%seller_group_id%" xsi:type="object">Magento\Seller\Model\Webapi\ParamOverriderSellerGroupId</item>
                <item name="%seller_website_id%" xsi:type="object">Magento\Seller\Model\Webapi\ParamOverriderSellerWebsiteId</item>
                <item name="%seller_store_id%" xsi:type="object">Magento\Seller\Model\Webapi\ParamOverriderSellerStoreId</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Seller\Api\AccountDelegationInterface" type="Magento\Seller\Model\Delegation\AccountDelegation" />
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="seller" xsi:type="array">
                    <item name="confirmation" xsi:type="string">seller</item>
                    <item name="created_at" xsi:type="string">seller</item>
                    <item name="created_in" xsi:type="string">seller</item>
                    <item name="default_billing" xsi:type="string">seller</item>
                    <item name="default_shipping" xsi:type="string">seller</item>
                    <item name="disable_auto_group_change" xsi:type="string">seller</item>
                    <item name="dob" xsi:type="string">seller</item>
                    <item name="email" xsi:type="string">seller</item>
                    <item name="failures_num" xsi:type="string">seller</item>
                    <item name="firstname" xsi:type="string">seller</item>
                    <item name="first_failure" xsi:type="string">seller</item>
                    <item name="gender" xsi:type="string">seller</item>
                    <item name="group_id" xsi:type="string">seller</item>
                    <item name="lastname" xsi:type="string">seller</item>
                    <item name="lock_expires" xsi:type="string">seller</item>
                    <item name="middlename" xsi:type="string">seller</item>
                    <item name="password_hash" xsi:type="string">seller</item>
                    <item name="prefix" xsi:type="string">seller</item>
                    <item name="rp_token" xsi:type="string">seller</item>
                    <item name="rp_token_created_at" xsi:type="string">seller</item>
                    <item name="store_id" xsi:type="string">seller</item>
                    <item name="suffix" xsi:type="string">seller</item>
                    <item name="taxvat" xsi:type="string">seller</item>
                    <item name="updated_at" xsi:type="string">seller</item>
                    <item name="website_id" xsi:type="string">seller</item>
                </item>
                <item name="seller_address" xsi:type="array">
                    <item name="city" xsi:type="string">seller_address</item>
                    <item name="company" xsi:type="string">seller_address</item>
                    <item name="country_id" xsi:type="string">seller_address</item>
                    <item name="fax" xsi:type="string">seller_address</item>
                    <item name="firstname" xsi:type="string">seller_address</item>
                    <item name="lastname" xsi:type="string">seller_address</item>
                    <item name="middlename" xsi:type="string">seller_address</item>
                    <item name="postcode" xsi:type="string">seller_address</item>
                    <item name="prefix" xsi:type="string">seller_address</item>
                    <item name="region" xsi:type="string">seller_address</item>
                    <item name="region_id" xsi:type="string">seller_address</item>
                    <item name="street" xsi:type="string">seller_address</item>
                    <item name="suffix" xsi:type="string">seller_address</item>
                    <item name="telephone" xsi:type="string">seller_address</item>
                    <item name="vat_id" xsi:type="string">seller_address</item>
                    <item name="vat_is_valid" xsi:type="string">seller_address</item>
                    <item name="vat_request_date" xsi:type="string">seller_address</item>
                    <item name="vat_request_id" xsi:type="string">seller_address</item>
                    <item name="vat_request_success" xsi:type="string">seller_address</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Seller\Api\GroupRepositoryInterface">
        <plugin name="saveSellerGroupExcludedWebsite" type="Magento\Seller\Model\Plugin\SaveSellerGroupExcludedWebsite" />
        <plugin name="deleteSellerGroupExcludedWebsite" type="Magento\Seller\Model\Plugin\DeleteSellerGroupExcludedWebsite" />
        <plugin name="getByIdSellerGroupExcludedWebsite" type="Magento\Seller\Model\Plugin\GetByIdSellerGroupExcludedWebsite" />
        <plugin name="getListSellerGroupExcludedWebsite" type="Magento\Seller\Model\Plugin\GetListSellerGroupExcludedWebsite" />
    </type>
</config>