<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="seller_address_save_before">
        <observer name="seller_address_before_save_viv_observer" instance="Magento\Seller\Observer\BeforeAddressSaveObserver" />
    </event>
    <event name="seller_address_save_after">
        <observer name="seller_address_after_save_viv_observer" instance="Magento\Seller\Observer\AfterAddressSaveObserver" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="seller_visitor" instance="Magento\Seller\Observer\Visitor\BindQuoteCreateObserver" />
    </event>
    <event name="seller_save_after_data_object">
        <observer name="upgrade_order_seller_email" instance="Magento\Seller\Observer\UpgradeOrderSellerEmailObserver" />
        <observer name="upgrade_quote_seller_email" instance="Magento\Seller\Observer\UpgradeQuoteSellerEmailObserver" />
    </event>
    <event name="seller_seller_authenticated">
        <observer name="sellerGroupAuthenticate" instance="Magento\Seller\Observer\SellerGroupAuthenticate" />
    </event>
    <event name="catalog_rule_collection_load_after">
        <observer name="catalogRuleSellerGroupExcludedWebsite" instance="Magento\Seller\Observer\CatalogRule\AddSellerGroupExcludedWebsite" />
    </event>
</config>