<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Authorization">
        <plugin name="sellerAuthorization" type="Magento\Seller\Model\Plugin\SellerAuthorization" />
    </type>
    <type name="Magento\Seller\Model\Seller\AuthorizationComposite">
        <arguments>
            <argument name="authorizationChecks" xsi:type="array">
                <item name="soap_seller_authorization" xsi:type="object">
                    Magento\Seller\Model\Seller\Authorization
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Seller\Api\AccountManagementInterface" type="Magento\Seller\Model\AccountManagementApi" />
</config>