<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <!--Review API preference-->
    <preference for="Honasa\Review\Api\ReviewInterface" type="Honasa\Review\Model\ReviewManagement" />
    <preference for="Honasa\Review\Api\Data\RatingInterface" type="Honasa\Review\Model\RatingData" />
    <!--Review API preference End-->
</config>
